{% import "_includes/forms" as forms %}

{{ forms.textField({
	first:        true,
	label:        "Azure Storage Connection String"|t,
	required:     true,
	id:           'connectionString',
	name:         'connectionString',
	instructions: "The connection string for your Azure Storage account."|t,
	value:        settings.connectionString,
	autofocus:    true,
	errors:       settings.getErrors('connectionString')
}) }}

{{ forms.textField({
	label:        "Blob Container Name"|t,
	required:     true,
	id:           'container',
	name:         'container',
	instructions: "The name of your blob container."|t,
	value:        settings.container,
	errors:       settings.getErrors('container')
}) }}